div#map
.container
	h2 Contact

	div.inner.col6
		p Pour tout conseil ou pour un dépannage urgent, un plombier à votre service !
		address
			| Sanitherm S.A.R.L.
			| <br>Jacques Tourneur
			| <br>966 chemin de la Chapelle Sainte Trinide
			| <br>83110 Sanary-sur-mer
			| <br>Tel/Fax : <a href="tel:+330494742104">04 94 74 21 04</a>
			| <br>Email : <a href="mailto:contact@sanitherm-plomberie.fr">contact@sanitherm-plomberie.fr</a>



		button.btn(data-href="#devis") Votre devis en ligne