ul.nav.container
	li.col3
		a(href="#presentation") Présentation
	li.col3
		a(href="#works") Réalisation
	li.col3
		a(href="#contact") Contact
	li.col3
		a(href="#proposal") Devis

p
	| S.A.R.L. Sanitherm - 966 chemin de la chapelle Sainte Trinide - 83110 Sanary sur mer - FRANCE
p
	| SIRET 335 260 477 00021 APE453E
p
	| FR 83 335 26 04 77