div.container
	h1#logo.left
		a(href="/")
			span.company SANITHERM
			span.name Jacques Tourneur
	nav#nav.right
		div#navContainer.hidden
			a(href="#presentation") Présentation
			a(href="#works") Réalisation
			a(href="#contact") contact
			a(href="#proposal") Devis
