div.container
	h1#logo.left
		a(href="/")
			span.company SANITHERM
			span.name Jacques Tourneur
div.navContainer
	div.container
		nav#nav.right
			div#navContainer.hidden
				a(href="#presentation") Présentation
				a(href="#realisations") Réalisations
				a(href="#contact") Contact
				a(href="#devis") Devis gratuit
