.container
	h2 Un plombier, vite !
	div.col6
		img(src="http://placehold.it/750x500")
	div.col6
		p Jacques Tourneur met à votre service plus de 20 ans d’expérience en <strong>plomberie-chauffage</strong> pour des travaux, une installation, un entretien ou un dépannage urgent à <strong>Sanary et dans le Var</strong>.
		p Vous recherchez un <strong>plombier</strong> expérimenté et disponible rapidement ? Vous avez trouvé !

		button.btn(data-href="#realisations") En savoir plus