.container
	h2 Réalisations
	div#gallery.col6
	div.col6
		p Vous avez des besoins spécifiques en <strong>géothermie</strong>, <strong>pompe à chaleur</strong>, <strong>plancher chauffant</strong> ou climatisation ? Jacques Tourneur vous conseille et intervient dans tout l’ouest Var (Sanary, Bandol, Six-Fours, Ollioules, La Seyne, Toulon) ainsi que dans toute la région PACA selon la nature de vos travaux. 
		p Demandez un devis en ligne gratuit !

		button.btn(data-href="#contact") Nous contacter
