.btn
	font-size 14px
	color dark-blue
	background white
	border 5px solid light-grey	
	width auto
	padding 10px 20px
	cursor pointer
	margin 0 auto
	
	&:hover
		color white
		background light-blue

	&:active
		cursor pointer
		position relative
		top 2px

.btn.btn-warning
	color dark-blue
	background yellow
	
	&:hover
		color white
		background dark-yellow
		
.btn.btn-danger
	color white
	background light-red
	
	&:hover
		color white
		background dark-red

.btn.btn-inverse
	color white
	background light-blue
	
	&:hover
		color white
		background dark-blue